.header_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_text{
line-height: 1.6875;
margin-bottom: 1em;
width: 467px;
p{
    font-size: 16px;
    }
}

.header_title{
font-size: 54px;
margin-bottom: 25px;
font-weight: 700;
line-height: 1.46;
margin-right: -160px;
position: relative;
z-index: 9;
}

.header_form{
    margin-top: 42px;
}

.header_img img{
    border-radius: 40px 40px 40px 0;
}

